/* src/App.css */
body {
  margin: 0;
  padding: 0;
  background-image: url('./images/Backkghround.jpg'); /* Replace with the correct path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Arial', sans-serif; /* Adjust the font family as needed */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */

  /* For Webkit browsers (Chrome, Safari) */
  overflow: overlay;
}



.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-buttons {
  display: flex;
  gap: 1rem; /* Adjust the gap as needed */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  color: white;
  padding: 10px 20px;

  /* Background image */
  background-image: url('./images/top_bar.png');
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Prevent image from repeating */
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.logo-text {
  font-size: 18px;
}

.menu-tab {
  font-size: 24px;
  cursor: pointer;
}

.main {
  display: flex;
  height: 100%;
}

.header-buttons {
  display: flex;
  gap: 20px;
}

.header-buttons a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #333; /* Match the header background color */
  transition: background-color 0.3s ease;
}

.header-buttons a:hover {
  background-color: #555; /* Darken the background on hover */
}
.menu-header {
  display: flex;
  align-items: center;
  margin-top: 15%;
  padding: 20px;
  color: #fff; /* Adjust the text color */
}

.menu-header-text {
  font-size: 18px; /* Adjust the font size */
}
.header-buttons a:last-child {
  margin-right: 0; /* Remove margin for the last button */
}
.menu {
  width: 20vh;
  height: 100%;
  
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: -200vh;
  transition: right 1.5s ease;
  max-height: 95%;

  /* Background image */
  background-image: url('./images/menu_bar.png');
  background-size: 100vh; /* Adjust as needed */
  background-repeat: repeat-x; /* Prevent image from repeating */
}

.menu.open {
  right: 0;
}

.menu-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2vh;
  margin-top: 5vh;
  
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5vh;
  margin: 1vh;
  font-size: 1.5vh;
}

.menu-button:hover {
  transform: scale(1.1);
}

.menu-button i {
  max-height: 3vh;
  margin-top: 3vh;
  margin-right: 20px; /* Adjust the spacing between icon and text */
}

.close-menu-tab {
  font-size: 24px;
  cursor: pointer;
  margin-top: 20px;
}

.banner {
  margin-top: auto;
  padding: 10px;
  background-color: #555;
}


.card {
  padding: 20px;
  margin: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.1);
}

.quizlist {
  max-width: 90vh; /* Adjust as needed */
  margin: 5vh auto; /* Adjust as needed */
  background-color: #fff;
  padding: 5vh;
  border-radius: 6vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.774);
  height: 35vh; /* Adjust as needed */
  overflow-x: auto; /* Add this line to hide overflowing content */
  overflow-y: hidden;
  opacity: 0; /* Initially set opacity to 0 */
  animation: fadeInAnimation 1.5s ease forwards; /* Apply animation */
}

@keyframes fadeInAnimation {
  from {
    opacity: 0; /* Start opacity */
  }
  to {
    opacity: 1; /* End opacity */
  }
}

.quizintro {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start; /* Align items to the top */
}

.text-box {
  flex: 1;
  border-radius: 8px;
  padding: 15px;
  background-color: #ffffff;
}

.object-details p {
  margin: 0;
}

.image-container {
  flex: 1;
  height: 100%;
  text-align: center;
}

.image-inner-container {
  height: 100%;
  overflow: hidden;
}

.object-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.clickable-button {
  cursor: pointer;
  border: 1px solid #007bff;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 0; /* Adjust the margin-top value */
}

.clickable-button:hover {
  background-color: #0056b3;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem; /* Adjust the margin as needed */
}

.wallet-info-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-left: 10px;
}

.connected-wallet,
.eth-balance,
.wallet-value {
  margin-bottom: 5px;
}

.wallet-connect-button {
  cursor: pointer;
  padding: 8px 12px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.wallet-connect-button:hover {
  background-color: #2980b9;
}
.footer {
  /* Background image */
  background-image: url('./images/footer.png');
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Prevent image from repeating */
  color: white;
  text-align: center;
  padding: 0.1%;
  position: sticky;
  bottom: 0;
  max-height: 5vh;
  min-height: 2%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-logo img {
  width: 50px; /* Adjust the width of your logo */
}

.footer-text {
  flex-grow: 1;
  margin: 0 20px;
}

.footer-copyright {
  font-size: 14px;
}

.header-buttons {
  display: flex;
  align-items: center;
  margin-left: 20px; /* Adjust the left margin as needed */
}

.clickable-button2 {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px; /* Increase the font size */
  margin: 0 15px; /* Increase the margin between buttons */
  padding: 12px 16px; /* Increase padding for a larger button */
  transition: box-shadow 0.3s ease;
}

.clickable-button2:hover {
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}
@media only screen and (max-width: 600px) {
  .app {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .header {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .logo {
    width: 20px; /* Adjust the logo size for smaller screens */
    height: 20px;
  }

  .logo-text {
    font-size: 14px; /* Adjust the font size for smaller screens */
  }

  .menu-tab {
    font-size: 20px; /* Adjust the menu tab size for smaller screens */
  }

  .main {
    flex-direction: column; /* Stack main content in a column for smaller screens */
  }

  .menu {
    width: 100%;
    max-height: none;
    right: 0;
  }

  .menu-content {
    margin-top: 0;
  }

  .banner {
    margin-top: 0;
  }

  .quizlist {
    max-width: 100%;
    margin: 10px auto;
  }

  .footer {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .footer-content {
    flex-direction: column; /* Stack footer content in a column for smaller screens */
    text-align: center;
  }

  .footer-logo img {
    width: 30px; /* Adjust the logo size for smaller screens */
  }

  .footer-text {
    margin: 10px 0;
  }

  .header-buttons {
    margin-left: 0;
  }

  .clickable-button2 {
    margin: 10px 0;
  }
}

body::-webkit-scrollbar {
  width: 0.1em;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.footer-text img {
  width: 13px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.video-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.news-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.news-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Use a value higher than the footer's z-index */
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001; /* Use a value higher than the overlay's z-index */
}
.dividerbox {
  background-color: transparent; /* Background color */
  padding: 20px; /* Padding around the header */
  border-radius: 10px; /* Rounded corners */
}

.dividercontent {
  text-align: center; /* Center the content */
}

.section-header {
  font-size: 24px; /* Adjust font size */
  color: #333; /* Text color */
  margin: 0; /* Remove default margin */
  padding-bottom: 10px; /* Space below the header */
  border-bottom: 2px solid #ccc; /* Bottom border */
}