/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Flow+Block&display=swap');

:root::-webkit-scrollbar{
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
    background-image: url('https://cdn.discordapp.com/attachments/267330143536545802/1212034426410770482/BackdropBlackLittleSparkBlack.png?ex=65f05e05&is=65dde905&hm=467f798164c56532342ec4c098dbceec3360c2e5c5ecb659905cd2893a878e46&');
    background-size: 10%;
    background-position: flex;
    background-repeat: repeat;
    background-color: #55555552;
  font-family: 'Arial', sans-serif; /* Adjust the font family as needed */

  scrollbar-color: transparent transparent; /* Firefox */
  

  /* For Webkit browsers (Chrome, Safari) */
}


.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0.5%;
  position: fixed;
  top: 0;
  width: 99%;
  /* Background image */
  background-image: url('./images/top_bar.png');
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Prevent image from repeating */
  z-index: 1000;
  
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 10%;
  height: 30%;
  position: center;


}

.logo-text {
  font-size: 18px;
}

.menu-tab {
  font-size: 2rem;
  cursor: pointer;
}

.main {
  display: flex;
  height: 100%;
}

.header-buttons {
  display: flex;
  gap: 20px;
}

.header-buttons a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #333; /* Match the header background color */
  transition: background-color 0.3s ease;
}

.header-buttons a:hover {
  background-color: #555; /* Darken the background on hover */
}
.menu-header {
  display: flex;
  align-items: center;
  margin-top: 15%;
  padding: 20px;
  color: #fff; /* Adjust the text color */
}

.menu-header-text {
  font-size: 20px; /* Adjust the font size */
  margin-top: 50%;
}
.header-buttons a:last-child {
  margin-right: 0; /* Remove margin for the last button */
}
.menu {
  margin-top: 0%;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: -200vh;
  transition: right 1.5s ease;
  max-height: 100%;
  z-index: 99;

  /* Background image */
  background-image: url('./images/menu_bar.png');
  background-size: 100vh; /* Adjust as needed */
  background-repeat: repeat-x; /* Prevent image from repeating */
}

.menu.open {
  right: 0;
}

.menu-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin-top: 5%;
  
}

.MM {
  position: relative;
  width: 100%; /* adjust this according to your container's width */
  height: 100%; /* adjust this according to your container's height */
}

.MM img { 
  position: absolute;
  bottom: 0;
  right: 0;
}
.menu-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5%;
  margin: 5%;
  height: 5%;
  width: 50%;
}

.menu-button img {
  width: 250%; /* Adjust the width of the images as needed */
  height: auto; /* Maintain aspect ratio */
}

.menu-button:focus {
  outline: none; /* Remove focus outline for accessibility */
}

.menu-button:hover {
  transform: scale(1.1);
  border: #fff;
  border-radius: 1vh;
}
.logomiddle {
  display: fixed;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  margin-right: 20%

}


/* Additional CSS for image if necessary */
.logotop img {
  max-width: 35%; /* Ensure image doesn't exceed container width */
  height: auto; /* Maintain aspect ratio */
}
.menu-button i {
  max-height: 5%;
  margin-top: 3vh;
  margin-right: 2%; /* Adjust the spacing between icon and text */
}

.close-menu-tab {
  font-size: 24px;
  cursor: pointer;
  margin-top: 20px;
}

.banner {
  margin-top: auto;
  background-color: #555;
  width: 100%;
  height: 5%;
  margin-bottom:  26%;
}

.quizlist {
    width: 45%; /* Adjust as needed */
    height: 15%; /* Adjust as needed */
    margin: 2% auto; /* Adjust as needed */
    background-image: url('./images/menu_bar.png');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Prevent image from repeating */
    padding: 2%; /* Adjust as needed */
    border-radius: 3em; /* Adjust as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.774);
    overflow-x: auto; /* Add this line to hide overflowing content */
    overflow-y: hidden;
    opacity: 0; /* Initially set opacity to 0 */
    animation: fadeInAnimation 1.5s ease forwards; /* Apply animation */
}
.quizlist h2 {
  color: white;
}
@keyframes fadeInAnimation {
  from {
    opacity: 0; /* Start opacity */
  }
  to {
    opacity: 1; /* End opacity */
  }
}

.quizintro {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start; /* Align items to the top */
  
}

.text-box {
  flex: 1;
  border-radius: 5%;
  padding: 0px;
  margin-bottom: 1%;
  background-color: transparent;
  color: white
}

.object-details p {
  margin: 0;
}

.image-container {
  flex: 1;
  height: 100%;
  text-align: center;
}

.image-inner-container {
  height: 100%;
  overflow: hidden;
}

.object-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  border-radius: 1em; /* Adjust as needed */
}

.clickable-button {
  cursor: pointer;
  border: 1px solid #007bff;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 0; /* Adjust the margin-top value */
}

.clickable-button:hover {
  background-color: #0056b3;
}

.wallet-info-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  max-width: 20%;
  background-color: transparent(77, 75, 75, 0.493);
  border-radius: 5px;
  margin-top: 4%; /* Adjust the margin as needed */
  z-index: 1000; /* Ensure it appears above other content */
  
}

.connected-wallet,
.eth-balance,
.wallet-value {
  margin-bottom: 5px;
}

.wallet-connect-button {
  cursor: pointer;
  padding: 1em;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 1em;
  font-size: 1em;
  transition: background-color 0.3s;
}

.wallet-connect-button:hover {
  background-color: #2980b9;
}
.footer {
  background-image: url('./images/footer.png');
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  position: fixed; /* Change from sticky to fixed */
  bottom: 0; /* Adjusted to 0 */
  width: 100%; /* Added width */
  height: 3em;
  z-index: 100000;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-logo img {
  width: 3em; /* Adjust the width of your logo */
  margin-right: 0%;
}

.footer-text {
  flex-grow: 1;
  margin-left: 15%;
}

.footer-copyright {
  font-size: 1em;
  margin-right: 5%;
}

.clickable-button2 {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px; /* Increase the font size */
  margin: 0 15px; /* Increase the margin between buttons */
  padding: 12px 16px; /* Increase padding for a larger button */
  transition: box-shadow 0.3s ease;
}

.clickable-button2:hover {
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}


body::-webkit-scrollbar {
  width: 0.1em;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.footer-text img {
  width: 1em; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.video-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.news-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.news-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Use a value higher than the footer's z-index */
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001; /* Use a value higher than the overlay's z-index */
}
.dividerbox {
  background-color: transparent; /* Background color */
  padding: 20px; /* Padding around the header */
  border-radius: 10px; /* Rounded corners */
}

.dividercontent {
  text-align: center; /* Center the content */
}

.section-header {
  font-size: 24px; /* Adjust font size */
  color: #ffffff; /* Text color */
  margin: 0; /* Remove default margin */
  padding-bottom: 10px; /* Space below the header */
}

@media only screen and (max-width: 600px) {
  .menu-tab {
    display: block; /* Display the menu tab for mobile devices */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
  }
  .wallet-info-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    margin-top: 10%; /* Adjust the margin as needed */
    z-index: 1000; /* Ensure it appears above other content */
  }
}

.faq-modal-overlay {
  position: fixed;
  top: 5vh;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* Apply blur effect to the modal overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.faq-modal {
  background: white;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.2);
  z-index: 100000;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 800px; /* Set your desired max width */
  height: 75vh; /* Set your desired height */
  overflow-y: auto; /* Enable vertical scrolling */
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.faq-modal-content {
  max-width: 500px; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the content horizontally */
  text-align: center; /* Center the text */
}

.faq-modal-content button {
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.faq-modal-content button:hover {
  background-color: #0056b3;
}

.faq-section {
  margin-bottom: 20px;
}

.news-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}
